
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  background: #fff;
  color: #333333;
  min-height: 100vh;
}

/* Адаптивные паддинги страницы */
.page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1440px) {
  .page-container {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

@media (max-width: 768px) {
  .page-container {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.75s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
